<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <h4>About Us</h4>
        <p>
          &copy; <%= new Date().getFullYear() %> WonderLust. All rights
          reserved.
        </p>
      </div>

      <div class="footer-section">
        <h4>Connect With Us</h4>
        <div class="social-links">
          <a href="#" class="social-icon"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a href="#" class="social-icon"
            ><i class="fa-brands fa-twitter"></i
          ></a>
          <a href="#" class="social-icon"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <a href="#" class="social-icon"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>Designed with ❤️ by WonderLust</p>
    </div>
  </div>
</footer>
