.navbar {
  background-color: white !important;
  margin: 0 0 1rem 0;
  display: flex !important;
  width: 100% !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
}
.fa-solid {
  color: brown;
  font-size: 2rem;
}
.nav-link {
  color: black !important;
}
.site-footer {
  margin: 10rem 0 0 0;
}
.footer-bottom {
  /* background-color: #1111; */
  justify-self: center;
}
.card {
  border: none !important;
  width: 18rem !important;
  margin: 0;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.col {
  display: flex;
  justify-content: center;
  margin: 1rem 0 !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start !important;
  margin: 0 -1rem;
}
