/* body {
  background-color: yellow;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */
.navbar {
  background-color: white;
  margin: 0 0 1rem 0;
}

.fa-solid {
  color: brown;
  font-size: 2rem;
}
.nav-link {
  color: black !important;
}
.site-footer {
  margin: 10rem 0 0 0;
}
.footer-bottom {
  /* background-color: #1111; */
  justify-self: center;
}
.card-title a {
  text-decoration: none;
}
.card {
}

.card-img-top {
  border-radius: 0.5rem !important;
  width: 100%;
  margin: 0.5rem 0;
  object-fit: cover !important;
}
.row {
  justify-content: space-around !important;
}
.col {
  margin: 1rem 0 !important;
}
